.formDiv {
    max-width: 800px;
    height: 100vh;
    margin: auto;
    text-align: center;
    align-items: center;
}

.formDiv > .buttonGroupContainer {
    text-align: center;
}

.formDiv > .buttonGroupContainer > .buttonGroup > .linkButton > .link {
    text-decoration-line: none;
    font-size: 1.1rem;
}

/*
.formDiv > .stepper {
    margin-top: 50px;
}
*/

.formDiv > .formBox {
    margin-top: 20px;
    text-align: center;
}

.formDiv > .formBox > .autocompleteDiv {
    margin-bottom: 20px;
}

.formDiv > .button {
    margin-bottom: 50px;
}

.formDiv > .button > .link {
    text-decoration-line: none;
}