.contactsDiv {
    max-width: 800px;
    text-align: center;
    height: 100vh;
    margin: auto;
    background-color: #9fceff;
}

.contactsDiv > .contactsText {
    margin-top: 50px;
    font-variant-caps: small-caps;
}

.contactsDiv > .buttonGroupContainer > .buttonGroup > .linkButton > .link {
    text-decoration-line: none;
    font-size: 1.1rem;
    color: blue;
}

.contactsDiv > .contactLinks {
    margin: auto;
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    max-width: 300px;
}

.contactsDiv > .contactLinks > .contactButton {
    margin-top: 50px;
    font-weight: bold;
}