.adminDiv {
    text-align: center;
}

.adminDiv > .buttonGroupContainer {
    align-items: center;
}

.adminDiv > .buttonGroupContainer > .buttonGroup > .linkButton > .link {
    text-decoration-line: none;
    font-size: 1.1rem;
    color: blue;
}

.adminDiv > .buttonsContainer > .carDataButtons {
    margin: 10px;
}